<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lanchonete - Clientes</title>
</head>
<body>
    <a href="/index.html">Voltar ao Painel</a>

    <h1>Listagem de Clientes</h1>

    <ul id="clients-list">

    </ul>

    <hr>

    <h2>Cadastro de Clientes</h2>

    <form id="form">
        <div>
            <label>Nome</label>
            <input type="text" name="nome">
        </div>
        <div>
            <label>Email</label>
            <input type="text" name="email">
        </div>
        <div>
            <label>Telefone</label>
            <input type="text" name="telefone">
        </div>
        <div>
            <label>Endereço</label>
            <input type="text" name="endereco">
        </div>
        <div>
            <button type="submit">Cadastrar</button>
        </div>
    </form>

    <script>
         const API_URL_CLIENTS = 'http://localhost:8080/api/clients'

         const clientsList = document.querySelector('#clients-list')
         const form = document.querySelector('#form')

         //Obtem a lista de produtos e insere no html
        function obterLista() {
            fetch(API_URL_CLIENTS).then(response => {
                response.json().then(data => {
                    const clientsHtml = data.map(client => `
                    <li>
                        ${client.nome} - ${client.email} - ${client.telefone} - ${client.endereco} 
                        <a href="#" class="botao-excluir" data-id="${client._id}"> [excluir] </a>
                    </li>
                `).join('')

                    clientsList.innerHTML = clientsHtml

                    addEventoBotaoExclui()
                    addEventoBotaoEditar()
                })
            })
        }
        obterLista()

        //Ao cadastrar um produto
        form.onsubmit = function (e) {
            e.preventDefault()

            const nome = document.forms['form'].nome.value
            const email = document.forms['form'].email.value
            const telefone = document.forms['form'].telefone.value
            const endereco = document.forms['form'].endereco.value

            fetch(API_URL_CLIENTS, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    nome,
                    email,
                    telefone,
                    endereco
                })
            }).then(response => {
                response.json().then(data => {
                    if (data.message === 'success') {
                        form.reset()
                        obterLista()
                        alert('Cadastro realizado com sucesso!')
                    } else {
                        alert('Ocorreu um erro, tente novamente!')
                    }
                })
            })
        }

        //Adiciona evento de click no botão excluir
        function addEventoBotaoExclui() {
            const botoesExcluir = document.querySelectorAll('.botao-excluir')
            botoesExcluir.forEach(botao => {
                botao.onclick = function (e) {
                    e.preventDefault()

                    const id = this.dataset.id

                    fetch(`${API_URL_CLIENTS}/${id}`, {
                        method: 'DELETE',
                    }).then(response => {
                        response.json().then(data => {
                            if (data.message === 'success') {
                                obterLista()
                                alert('Produto excluído com sucesso!')
                            } else {
                                alert('Erro ao deletar, tente novamente!')
                            }
                        })
                    })
                }
            })
        }
    </script>
    
</body>
</html>